
@{
    ViewBag.Title = "Index";
}

<h2>Employee</h2>


<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item">@Html.ActionLink("Show Profile", "ShowProfile")</li>
        <li class="breadcrumb-item">@Html.ActionLink("Show Nodifications", "SelectNodification")</li>
        <li class="breadcrumb-item">@Html.ActionLink("Requested Members", "RequestedMembers")</li>
        <li class="breadcrumb-item">@Html.ActionLink("Show Members", "ReturnMembers", "Employee")</li>

    </ol>
</nav>




